/* version 20250105 */
@use "sass:math";

// turns rem to px
@function px($rem) {
  @return math.div($rem, 16);
}

/* ---------------------------------- color --------------------------------- */

$black: #0e0e0e;
$dark: #333;
$grey-dark: #666;
$grey: #999;
$grey-light: #bbb;
$grey-lighter: #d0d0d0;
$light: #ececec;
$off-white: #f7f7f7;
$white: #fff;

$red: #d24545;
$orange: #ee6e0e;
$yellow: #ffb84c;
$pink: #ff06b7;
$purple: #57068c;
$blue: #008be8;
$cine: #00aeaa;
$green: #13a600;

// opacity
$opacity: 0.9;
$opacity-h: 0.75;
$opacity-xh: 0.5;
$opacity-xxh: 0.2;
$opacity-xxx-h: 0.05;

// blur
$blur-s: px(2rem);
$blur: px(4rem);
$blur-h: px(8rem);
$blur-xh: px(12rem);

/* --------------------------------- layout --------------------------------- */

$padding-xxx-s: 0.125rem;
$padding-xxs: 0.25rem;
$padding-xs: 0.5rem;
$padding-s: 0.75rem;
$padding: 1rem;
$padding-l: 2rem;
$padding-xl: 3rem;
$padding-xxl: 4rem;
$padding-xxx-l: 5rem;

$rad-xs: 0.125rem;
$rad-s: 0.25rem;
$rad: 0.375rem;
$rad-l: 0.5rem;
$rad-xl: 1rem;

/* --------------------------------- motion --------------------------------- */

$trans-f: 100ms;
$trans: 300ms;
$trans-s: 700ms;
$trans-xs: 1200ms;
$trans-xxs: 3000ms;

/* ---------------------------------- font ---------------------------------- */

$fs-xxs: 0.5rem;
$fs-xs: 0.625rem;
$fs-s: 0.75rem;
$fs: 1rem;
$fs-l: 1.25rem;
$fs-xl: 2rem;
$fs-xxl: 3rem;

$fw-light: 300;
$fw: 400;
$fw-mid: 500;
$fw-bold: 700;

// line-height
$lh-s: 1.3;
$lh: 1.5;
$lh-l: 2;

/* -------------------------------------------------------------------------- */

// textures
@mixin glass($color: $white, $opacity: $opacity-h) {
  background-color: rgba($color, $opacity);
  backdrop-filter: blur($blur);
}

@mixin glass-outline($color: $grey-lighter, $width: px(1rem)) {
  outline: $width solid $color;
}

@mixin glass-outline-h {
  @include glass-outline($grey, px(2rem));
}

// shadows
$shadow-s: rgba($black, $opacity-xxh) 0 0 px(8rem) px(-2rem);
$shadow: rgba($black, $opacity-xxh) 0 0 px(14rem) px(-4rem);
$shadow-h: rgba($black, $opacity-xh) 0 px(2rem) px(16rem) px(2rem);

// layout
@mixin no-padding {
  padding: 0;
  margin: 0;
}

@mixin front {
  z-index: 999999 !important;
}

@mixin hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

// interaction
.no-pe {
  pointer-events: none;
}

.no-select {
  user-select: none;
}
